<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link th:href="@{/styles/css/dashboard.css}" rel="stylesheet" />
  <link th:href="@{/styles/css/form.css}" rel="stylesheet" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@500;800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@100&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
  <title>Dashboard</title>
</head>
<body>
<div class="tab" style="height: 25%;background-color: white;display: flex;justify-content: center;align-items: center;">
  <ul>
    <li style="margin: 30px;font-family: 'Nanum Myeongjo', serif;"><a href="/org/post-job">Post a new Job</a></li>
    <li style="margin: 30px;font-family: 'Nanum Myeongjo', serif"><a href="/org/manage-jobs">Manage existing Jobs</a></li>
    <li style="margin: 30px;font-family: 'Nanum Myeongjo', serif"><a href="/org/hiring-pools">Hiring Pools</a></li>
    <li style="margin: 30px;font-family: 'Nanum Myeongjo', serif"><a href="/org/manage-applications">Manage Applications</a></li>
  </ul>

</div>    <ul>
      <li>Post a new Job</li>
      <li>Manage existing Jobs</li>
      <li>Hiring Pools</li>
      <li>Manage Applications</li>
    </ul>

</div>
<div>

</div>

</body>
</html>
