<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/styles/css/dashboard.css}" rel="stylesheet" />
    <link th:href="@{/styles/css/form.css}" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@500;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
    <title>Dashboard</title>
</head>
<body style="display: flex;
    justify-content: center;
    align-items: center;">
<script>

</script>
<div class="middlebox">
<div class="inline"><img th:src="@{/images/3.jpg}" style="height: 30px;width: 30px;"></div>
<div class="inline">
    <name>Name</name>
    <br>
    <description>Description xyz</description>
</div>
</div>


</body>
</html>